@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  background-color: black;
  color: white;
}

.basic_button {
  margin: 0.5em;
  background-color: #278EA5;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.5em;
}

.container {
  margin-left: 5.3em;
}